
<div class="background">
  <div>
    <p class="title">Poker Hand Checker</p>
    <p class="instruction">半角英字大文字のスート（S,H,D,C）とランク（1〜13）の組み合わせで<br>カードを入力し、役を調べる。</p>
  </div>
  <div>
    <%= form_tag("/poker_checker") do %>
      <input class="form_input" name="cards" type="text" required placeholder="S8 H7 D4 C2 S3" style="text-align: center;" value="<%= flash[:cards] %>">
      <br><button class="button">調べる</button>
    <% end %>
    <% if flash[:hand_type] %>
      <div class="result">
        <%= simple_format(flash[:hand_type]) %>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="error">
        <%= simple_format(flash[:error]) %>
      </div>
    <% end %>
  </div>
  </div>
</div>

